body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:0;
    text-align: center;

}

.Equis{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.equis{
    margin: 30px 0 0 30px;
    font-size: 50px;
    color: #000000;
}

.image-titulo{
    width: 250px;
    margin: -20px auto  10px;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    gap: 20px;
    min-width: 700px;
    max-width: 1200px;
}

.image-post{
width: 230px;

}

.image-post2{
width: 230px;

}

 .wrapper{
    width: 420px;
    min-height: 300px;
    margin: 30px auto  0px auto;
    background:#d3c5c7;
    border: 2px solid rgba(169, 171, 178, 0.2);
    backdrop-filter: blur(30px);
    color: #000000;
    border-radius: 40px;
    padding: 30px 40px;

}




.wrapper h1{
    text-align: center;
    font-size: 36px;
}

.wrapper .input-box{
position: relative;
width: 100%;
height: 50px;
margin: 30px 0;
}

.input-box input{
    width: 300px;
    height: 30%;
    background-color: white;
    border: none;
    outline: none;
    border: 2px solid rgba(174, 175, 176, 0.2);
    border-radius: 10px;
    font-size: 18px;
    padding: 20px 40px 20px 20px;
}

.input-box input::placeholder{
    color: #000000;
}

.btn{
    width: 50%;
    height: 45px;
    background-color: #ea9281;
    border: none;
    outline: none;
    border-radius: 45px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
} 


.wrapper .register-link{
    font-size: 15px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p {
    color: #fff;
    text-decoration: none;
}

.register-link a {
    color: #21102B;
    text-decoration: none;
    font-weight: 600;
}

.register-link a:hover{
    text-decoration: underline;
}





.foote{
    background-color: #535353;
    padding: 10px;
    padding: 10px;
    margin-top: 60px;

}

.foot{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1800px;
    margin: auto;
}

.foot a{
    color: rgb(255, 253, 253);
    text-decoration: none;
    font-size: 19px;
}

.img-logo{
    width: 50px;
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

.img-logo-S{
    margin: 10px 0 0 45px ;
    width: 100px;
    display: flex;

}

.cuadro{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: -2px;
    right: -1px;
    width: 429px;
    height: 55px;
    background-color: #ea9281;
    border-radius: 20px 20px 0px 0px;
    margin: 0px;
}

.cuadro i {
    font-size: 30px;
    margin: 0 20px 0 0;
}

.caja{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
    gap: 5px;
    margin-top: 15px;
}

.sugerencia{
    display: none;
    position: absolute;
    bottom: 119px; 
    right: 0px;
    width: 400px;
    margin: 50px 25px 0  auto;
    background:#e8e8e8;
    border: 2px solid rgba(169, 171, 178, 0.2);
    backdrop-filter: blur(30px);
    color: #000000;
    border-radius: 20px;
    padding: 62px 13px 25px;
}

.sugerencia h1{
    text-align: center;
    font-size: 36px;
}

.sugerencia .input-box{

width: 100%;
height: 100%;
margin: 0 0 15px 0;
}

.btn-Su{
display: flex;
justify-content: center;
}


.input-caja input{
    width: 326px;
    height: 21px;
    align-items: center;
    display: flex;
    background-color: white;
    border: none;
    outline: none;
    border: 2px solid rgba(174, 175, 176, 0.2);
    border-radius: 10px;
    font-size: 18px;
    padding: 8px 10px 8px 8px;
    text-align: start;
}

.input-caja2 input{
    width: 326px;
    height: 80px;
    align-items: center;
    display: flex;
    background-color: white;
    border: none;
    outline: none;
    border: 2px solid rgba(174, 175, 176, 0.2);
    border-radius: 10px;
    font-size: 18px;
    padding: 8px 10px 8px 8px;
}

.btn-S{
    width: 200px;
    height: 50px;
    background-color: #b44047;
    border: none;
    outline: none;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    margin-top: 30px;
}


.foote{
    background-color: #535353;
    padding: 20px;
}

.foot{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.dis{
    font-size: 19px;
}

.redes{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 0 0 0 50px;
}

.redes a{
    font-size: 35px;
    transition: 0.5s;
}

.Yout{
color: rgb(255, 255, 255);
}

.Tik{
color: rgb(255, 255, 255);
}

.Whats{
    color: rgb(255, 255, 255);
}

.Ins{
color: rgb(255, 255, 255);
}

.redes a:hover{
    transform: scale(1.4);
}

.btn-sugerencia{
    background-color: transparent;
    border: none;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    margin-top: 10px;
}

