body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:0;
    text-align: center;
}

#about {
    background-color: #6E6E6E; 
    color: #E9F1FA
}

#services {
    background-color: #E9F1FA; 
    color: #050505;
}

#contact {
    background-color: #afabab; 
}