body {
    background-image: url(../assets/imagen.jpg);
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btnCerrar{
    position: absolute;
    right: 30px;
    top: 35px;
    color: #f7f5f5;
    text-align: center;
    padding: 10px 15px;
    background:transparent;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 15px;
    }
    
.btnCerrar:hover{
    transform: scale(1.1); 
     cursor: pointer;     
}    

.titulo{
    margin: 100px auto 0 auto;
    font-size: 4em; 
    color: transparent;
    text-shadow: 7px 7px #ffffffe5;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    border: 2px solid rgba(0, 38, 255, 0.2);
    background:transparent;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2); 
    border-radius: 10px; 
    padding: 30px; 
    width: 80%;
    transition: transform 0.3s ease-in-out; 
}
.saludo{
    position: absolute;
    top: 35px;
    left: 0;
    font-size: 2em;
    margin: 10px 15px;
    color: #f7f5f5;
    text-align: center;
    width: 20%;
    background:transparent;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 15px;
}
.titulo:hover {
    transform: scale(1.1); 
    cursor: pointer; 
}

.card {
    width: 340px;
    height: 350px;
    border-radius: 8px;
    background:transparent;
    border: 2px solid rgba(0, 38, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    break-inside: avoid;
}

.card:hover{
    transform: scale(1.07); 
}


.card-imagen {
    width: 340px;
    height: 190px;
    object-fit: cover;
}


.card-contenido {
    padding: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
}


.card-titulo {
    font-size: 1.2em;
    margin: 0;
    color: #f7f5f5;
   
}


.card-descripcion {
    font-size: 0.9em;
    color: #f7f5f5da;;
    margin: 2px 0;
    flex: 1;
} 

.container {
    margin-top: 30px;
    column-count: 5;
    column-gap: 30px;
    column-rule: #ffffff;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}