body {

    font-family: Arial, sans-serif;
    background-color: #181818;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    flex-wrap: wrap;
     
}

.card {
    width: 340px;
    height: 350px;
    background-color: #cfcaca;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    break-inside: avoid;
}


.card-imagen {
    width: 340px;
    height: 190px;
    object-fit: cover;
}


.card-contenido {
    padding: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}


.card-titulo {
    font-size: 1.2em;
    margin: 0;
    color: #000000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.card-descripcion {
    font-size: 0.9em;
    color: #000000;
    margin: 2px 0;
    flex: 1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.btn {
    display: inline-block;
    padding: 8px 12px;
    font-size: 0.9em;
    color: #ffffff;
    background-color: #878787;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
    transition: background-color 0.3s ease;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn:hover {
    background-color: #323436;
}   

.container {
    column-count: 5;
    column-gap: 30px;
    column-rule: #ffffff;
    display: flex;
    flex-wrap: wrap;
}